In [3]:
print()

In [4]:
print('Bruce')

Bruce

#Raw outputs are only for developers understanding

In [5]:
"Welcome to the Kingdom"

'Welcome to the Kingdom'

In [6]:
2405+33-555

1883

In [7]:
print('This is an apple','it is a fruit','i dont like it')

This is an apple it is a fruit i dont like it

In [8]:
print(2,3,5,6,4.4, 3434.34)

2 3 5 6 4.4 3434.34

In [9]:
print('This is Python Data Science')
print('We are going to do code')
print('and learn the secrets of Python')
print('Thats it!')

This is Python Data Science
We are going to do code
and learn the secrets of Python
Thats it!

In [10]:
print('This is Python Data Science \nWe are going to do code \nand learn the secrets of Python \nThats it!')

This is Python Data Science
We are going to do code
and learn the secrets of Python
Thats it!

In [11]:
print('''
This is Python Data Science 
We are going to do code 
and learn the secrets of Python 
Thats it!
''')  # triple quotes are multiline printing  in which we can write statements in as many lines as we want

This is Python Data Science
We are going to do code
and learn the secrets of Python
Thats it!

there are few settings in print function that we can provide when we want to print something

In [13]:
print('this')
print('is')
print('multiline')
print('message')

this
is
multiline
message

In [14]:
print('this', end=' ')
print('is', end=' ')
print('multiline', end=' ')
print('message', end=' ')

this is multiline message

In [15]:
age=18
name='bob'
color2='maroon'
is_sleeping= False
char='c'

In [16]:
name='Nobita'
color2=12

*datatype can be changed by changing the value of the variable*

In [17]:
x=3
s=-434
e=3242837928779770979746

In [18]:
x=1.10

In [19]:
y=1.0

In [20]:
z=-44.6

In [21]:
z=87.7e100

In [22]:
del age # it deletes the variable from the memory
del x, y

In [23]:
name ="bruce wayne 01"
Color='maroon'
color=''' Hey Yo ''' # multiline strings

In [24]:
is_coding=True
is_fun= True
is_boring= False

In [25]:
x=None

In [26]:
a=[20,30,40,50,50,60,49] #lists are mutable means they can be changed
vals=[1, 2.2, 'Python']
colors=['red', 'green', 'blue']

In [27]:
a=(20,30,40,50,50,60,49) # tuples are immutable
vals=(1, 2.2, 'Python')
colors=('red', 'green', 'blue')

In [28]:
a={20,30,40,50,50,60,49} # sets are  unordered set of unique values
vals={1, 2.2, 'Python'}
colors={'red', 'green', 'blue'}

In [29]:
car_info={
    "brand": "Ford",
    "model": "Mustang",
    "year": 2020
}    #Dictionaries

# input in python

In [2]:
name= input('What is your name? ')
city= input('What city do you live in' )
print("So according to you")
print('You are ', name)
print('and you live in', city)

So according to you
You are  g
and you live in u

# Operators

In [31]:
#arithmetic operators
a=10
b=3

print( a + b ) #add
print( a - b ) #sub
print( a * b ) #mul
print(a/b) #float div

13
7
30
3.3333333333333335

In [32]:
print(a//b) # int division i.e. give answer in whole no. ->Floor division

3

In [33]:
print(23%5) # remainder
print(2**5) # power/exponentiation
2**10

3
32

1024

In [34]:
#Assignment operators
a=10
b=3

#alternate way to assign a value to a  variable
x, y, z =10, 20, 30

#use of assignment operator with arithmetic operator
a += 2# update a with a+2
a -= 2
a *= 2
a /= 2
b **= 2
x %= 10

In [35]:
#Comparison operators
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a==b)
print(a!=b)

True
True
False
False
False
True

In [36]:
#Logical Operators (and, or, not)
print(7>6 and 6<7)
print(6>7 and 6<7)
print(6>6 or 8<7)
print(7>6 and 6<7)
print(not a<b)
print(not a>b)
print(not a and not b and not x)

True
False
False
True
True
False
False

In [37]:
#membership operator
colors3= ['red', 'blue','green','yellow','orange']
print('red' in colors3)
print('Red' in colors3)
print('yelloww' in colors3)
print('purple' in colors3)
print('blue' in colors3)

True
False
False
False
True

In [38]:
msg= "its the  journey that matters"
print('journey' in msg)
print('destination' in msg)

True
False

is  operator  checks whether two objects belong to same memory location or not

we can also use "not in"

# questions:
- wap to calculate the area of a circle
- wap to calculate the area of a rectangle
- wap to calculate the area of a triangle
- wap to calculate the hypotenuse using perpendicular and base
- wap to calculate a factorial of 5

In [4]:
import math

In [40]:
#area of a circle

r= float(input('Enter the radius of the circle: ')) #casting from string to float
area= (math.pi)*r*r  #math.pi=3.14
print(area, 'for a circle of radius', r)

In [ ]:
#area of rectangle
l=10
b=20
area= l*b
print(area)

200

In [ ]:
#area of triangle
base=10
h=20
area=0.5*base*h  
print(area)

100.0

In [ ]:
#Hypotenuse
p=10
b=20
h= ((p**2)+(b**2))**0.5
h2 = math.hypot(p, b)
print(h, h2)

22.360679774997898 22.360679774997898

In [5]:
#factorial of 5
num= int(input('Enter a number: '))
factorial=5*4*3*2*1
f2= math.factorial(num)
print(factorial, f2)

120 120

In [ ]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [ ]:
#compound interest
p=2000
r=5
t=3
ci = p*(pow(1+(r/100), t))
print('compound interest = ', ci)
print('amount = ', 2000+ci)

compound interest =  2315.2500000000005
amount =  4315.25