In [1]:
a= (1,2,3,4)              #tuple is immutable
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [2]:
b= 1,3,5,7
print(b)
print(type(b))

(1, 3, 5, 7)
<class 'tuple'>

In [3]:
for val in a:
    print(val)

1
2
3
4

In [17]:
my_tuple = ('e', 'b','d', 'w', 'r', 'y')
print(my_tuple[:5])   #slicing

('e', 'b', 'd', 'w', 'r')

In [5]:
print((1,2,3)+(4,5,6))   #concatenation

(1, 2, 3, 4, 5, 6)

In [6]:
print(("Repeat",) * 3)

('Repeat', 'Repeat', 'Repeat')

In [18]:
#functions
my_tuple = ('e', 'b','d', 'w','w', 'r', 'y')
print(my_tuple.count('w'))    # count function
print(my_tuple.index('r'))     # index function

2
5

In [13]:
#convert tuple to list .... it is interconvertible
al= list(a)
print(al)

[1, 2, 3, 4]

In [15]:
#convert list to tuple
val= [2,3,12,312,31,32,123]
print(val)
valt=tuple(val)
print(valt)

[2, 3, 12, 312, 31, 32, 123]
(2, 3, 12, 312, 31, 32, 123)

In [1]:
s1 = {1,2,3,4,5,6,7,8,9,10,1,1}
print(s1)
print(type(s1))
print(s1)
sl = list(s1)        # set to list
print(sl)
st = tuple(s1)       # set to tuple
print(st)
a = set([1,2,3,3,3,1,1]) # list to set
print(a)
b = set((2,1,2,2,3,4,4,5)) # tuple to set
print(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
{1, 2, 3}
{1, 2, 3, 4, 5}

# SETS

In [16]:
#a set is an unordered collection of items.
# every set element is unique (no duplicates)
#a set itself is a immutable but some operations can be performed---> add, update, remove, discard, pop, clear
my_set={1,2,3}
print(my_set)

{1, 2, 3}

In [31]:
my_set1= set([1,2,3,2])    #here set function is used
print(my_set1)
print(type(my_set1))

my_set1.add(2)
print(my_set1)

my_set1.update([2,3,4])
print(my_set1)

my_set1.update([4,5], {1,6,8})  # it inserts the elements and removes dulicate elements... and sorts it
print(my_set1)

#my_set2={1,2,3,[4,5]} #---> set cannot have mutable items .....here [4,5]is a mutable list
#print(my_set2)

{1, 2, 3}
<class 'set'>
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [32]:
#operations --> discard and pop are same
my_set1.remove(6)    # removes an particular element
print(my_set1)

my_set1.discard(4)     # discards or removes an element
print(my_set1)

my_set1.pop()      #pops a random item
print(my_set1)

my_set1.clear()      # clears the set completely
print(my_set1)

{1, 2, 3, 4, 5, 8}
{1, 2, 3, 5, 8}
{2, 3, 5, 8}
set()

- UNION

In [46]:
# union operation

A={1,2,3,4,5}
B={4,5,6,7,8}
print(A | B)   #Union is performed
#some other ways
print(A.union(B))
print(B.union(A))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

- INTERSECTION

In [40]:
#INTERSECTION

print(A&B)   # intersection is performed
print(A.intersection(B))

{4, 5}
{4, 5}

- set difference

In [42]:
print(A-B)
print(A.difference(B))
print(B-A)

{1, 2, 3}
{1, 2, 3}
{8, 6, 7}

- SET SYMMETRIC DIFFERENCE

In [43]:
print(A ^ B)  #all the elements other than common elements

{1, 2, 3, 6, 7, 8}

In [44]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [49]:
set1={'Fan','Cooler','AC','TV', 'Juicer', 'Bulb', 'LED', 'Lamp'}
set2={'Tubelight', 'Bulb', 'LED', 'Lamp', 'Ring Light', 'Torch'}

print(set1.union(set2))
print(set1 | set2)

print(set1 & set2)   # intersection is performed
print(set1.intersection(set2))

print(set1-set2)
print(set1.difference(set2))
print(set2-set1)

print(set1 ^ set2)
set1.symmetric_difference(set2)

{'AC', 'Ring Light', 'Tubelight', 'TV', 'Juicer', 'Fan', 'Cooler', 'LED', 'Bulb', 'Torch', 'Lamp'}
{'AC', 'Ring Light', 'Tubelight', 'TV', 'Juicer', 'Fan', 'Cooler', 'LED', 'Bulb', 'Torch', 'Lamp'}
{'Bulb', 'LED', 'Lamp'}
{'Bulb', 'LED', 'Lamp'}
{'AC', 'TV', 'Juicer', 'Fan', 'Cooler'}
{'AC', 'TV', 'Juicer', 'Fan', 'Cooler'}
{'Ring Light', 'Torch', 'Tubelight'}
{'AC', 'Ring Light', 'Juicer', 'Fan', 'Torch', 'Tubelight', 'TV', 'Cooler'}

{'AC', 'Cooler', 'Fan', 'Juicer', 'Ring Light', 'TV', 'Torch', 'Tubelight'}